/**
 * FANA UI - Main CSS File
 * Import all framework components
 */

/* Core Styles */
@import url('core/variables.css');
@import url('core/reset.css');
@import url('core/utilities.css');

/* Layout */
@import url('layout/containers.css');

/* Components */
@import url('components/buttons.css');
@import url('components/cards.css');
@import url('components/forms.css');
@import url('components/navigation.css');
@import url('components/modals.css');
@import url('components/dropdowns.css');
@import url('components/tooltips.css');